html {
    max-width: 98%;
    background-color:#131516 !important;
}

body {

    color: white;
    background: #131516;
    font-family: 'Baloo 2', cursive !important;
}

.poster-img {
    width: 36vh;
    max-width: 100%;
    height: 55vh;
}

.this-card {

    color: black !important;
    width: 18vw;
    height: 30vw;
    border-width: 0.25vw;
    border-style: solid;
    border-color: #131516;
    background-size: 18vw 30vw;
    opacity: 0.5;
}

.this-card:hover {

    color: white !important;
    border-style: solid;
    border-color: white;
    opacity: 1;

}

.card-info {

    opacity: 0;

}

.this-card:hover .card-info {

    opacity: 1;

}

.logo {

    width:7.5vw;
    height:auto;
    min-height: 5vh;
    min-width: 7.5vh;
    margin: 1.5vh !important;

}

.info-button {

    color:white !important;
    background-color: black !important;
    /* width: 18vw; */

}

.info-button:hover {

    color: rgb(0, 0, 0) !important;
    background-color: white !important;

}

.main-color {
    background-color:#0DD4E2;
}

input {
    background-color:transparent !important;
    color:#FFFFFF !important;
    border: 0px !important;
}

/* Here you hidde the outline in an input*/
input:focus {
    outline:none !important;     
    outline-width: 0 !important;     
    box-shadow: none !important;
}

.input-border {
    border: 2px solid #0DD4E2 !important;
    border-radius: 20px;
    padding: 0 !important;
}

.padding{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.movie-poster {
	border: 2px solid #0DD4E2;
    border-radius: 10px;
}

