html {
    max-width: 98%;
}

body {

    font-family: 'Courier New', Courier, monospace !important;
    color: white;
    background: #1C1717;

}

.poster-img {
    width: 36vh;
    max-width: 100%;
    height: 55vh;
}

.this-card {

    color: black !important;
    width: 18vw;
    height: 30vw;
    border-width: 0.25vw;
    border-style: solid;
    border-color: #1C1717;
    background-size: 18vw 30vw;
    opacity: 0.5;

}

.this-card:hover {

    color: white !important;
    border-style: solid;
    border-color: white;
    opacity: 1;

}

.card-info {

    opacity: 0;

}

.this-card:hover .card-info {

    opacity: 1;

}

.logo {

    width:7.5vw;
    height:auto;
    min-height: 5vh;
    min-width: 7.5vh;
    margin: 1.5vh !important;

}

.info-button {

    color:white !important;
    background-color: black !important;
    /* width: 18vw; */

}

.info-button:hover {

    color: rgb(0, 0, 0) !important;
    background-color: white !important;

}