body {

    background-image: linear-gradient(125deg, #694742 0, #67413e 10%, #64393b 20%, #613137 30%, #5e2934 40%, #591f32 50%, #541530 60%, #4e0a30 70%, #480130 80%, #410031 90%, #3a0033 100%) !important;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace !important;

}