html {
    max-width: 98%;
}

body {

    font-family: 'Courier New', Courier, monospace !important;

}

.poster-img {
    width: 36vh;
    max-width: 100%;
    height: 55vh;
}

.this-card {

    color: black !important;

}

.this-card:hover {

    background-color: rgb(129, 129, 129);
    color: white !important;
    border-width: 0.25vw 0.25vw 0.25vw 0.25vw;
    border-style: solid;

}

.logo {

    width:7.5vw;
    height:auto;
    min-height: 5vh;
    min-width: 7.5vh;
    margin: 1.5vh !important;

}

.info-button {

    color:white !important;
    background-color: black !important;

}

.info-button:hover {

    color: rgb(0, 0, 0) !important;
    background-color: white !important;

}