html {
    max-width: 98%;
}

body {

    font-family: 'Courier New', Courier, monospace !important;

}

input {

    width: 15vw !important;

}

.this-card {

    color: black !important;

}

.this-card:hover {

    background-color: rgb(129, 129, 129);
    color: white !important;
    border-width: 0.25vw 0.25vw 0.25vw 0.25vw;
    border-style: solid;

}

.logo {

    width:7.5vw;
    height:auto;
    margin: 1.5vh !important;

}

.info-button {

    color:white !important;
    background-color: black !important;

}

.info-button:hover {

    color: rgb(0, 0, 0) !important;
    background-color: white !important;

}

.main-background-color {
    background-color:#1C1717;
}

.main-color {
    background-color:#F5E801;
}

input:not(:placeholder-shown) {
    border: 2px solid #F5E801;
    border-radius: 20px;
    background-color:transparent !important;
    color:#FFFFFF !important;
}


input:placeholder-shown {
    border: 2px solid #F5E801 !important;
    border-radius: 20px;
    background-color:transparent !important;
    color:#FFFFFF;
    
}

