.poster-img {
    width: 36vh;
    max-width: 100%;
    height: 55vh;
}

i {
    margin-top: 3.75vh;
    margin-bottom: 3.75vh;
}

.scrolling-wrapper{
	overflow-x: auto;
    max-width: 45vw;
    background-color: rgb(129, 129, 129);
}

.card-block{
	height: 5vh;
    width: 2.5vw;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
}

.card-block:hover{
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
}