.div-margin {

    margin: 1.25vh;

}

.box {

    display: flex;

}

.div-centered {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 55vh;
}

.search-icon {
    background-color: transparent !important;
    color: #FFFFFF;
}

