.button {

    align-items: center;
    color: #E9E9E9;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    text-align: center;
    width: 18vw;
    height: 7vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 20px;
    margin: auto;
    
}
  
.button:hover {
    background-color: #E9E9E9 !important;
    color: black;
    border: 1px solid #0DD4E2;
}

.pictures_genre {
    width: 4vw;
    height: 3vw;
}

.pictures_cast{
    width: 3vw;
    height: 3vw;
}

.pictures_director{
    width: 3vw;
    height: 3vw;
}