<div class="container-fluid">

    <!-- Next Movie Logo -->
    <div class="row justify-content-center text-center">

        <img class="rounded mx-auto d-block logo" style="margin-top: 1.25vh;" src="assets/images_icons/logo.png" alt="Imagen">

    </div>

    <br>

    <!-- Page Body -->
    <div class="row text-center">

        <!-- Poster Column -->
        <div class="col-6">
            <img src="http://image.tmdb.org/t/p/w500/{{ getImage() }}" class="poster-img" alt="">
        </div>

        <!-- Filters Column -->
        <div class="col-6">
            
            <div class="row div-margin">
                <button class="button" (click)="goToSelectedFilter(1)" onmouseover="img_genre.src='assets/images_icons/genre.png';" onmouseout="img_genre.src='assets/images_icons/genre_inverted.png';">Genero  
                    <img id="img_genre" class="pictures_genre" src='assets/images_icons/genre_inverted.png'  />
                </button>
            </div>
            
            <div class="row div-margin">
                <button class="button" (click)="goToSelectedFilter(2)"  onmouseover="img_cast.src='assets/images_icons/cast.png';" onmouseout="img_cast.src='assets/images_icons/cast_inverted.png';">Reparto
                    <img id="img_cast" class="pictures_cast" src="assets/images_icons/cast_inverted.png" />
                </button> 
            </div>
            
            <div class="row div-margin">
                <button class="button" (click)="goToSelectedFilter(3)">Director
                    <img class="pictures_director" type="image" src="assets/images_icons/director.png" />
                </button>
            </div>
            
        </div>

    </div>
    
</div>