<div class="container-fluid">

    <!-- Next Movie Logo -->
    <div class="row justify-content-center text-center pb-5">
        <a class="mx-auto d-block" routerLink="/app/landing">
            <img class="rounded logo" style="margin-top: 1.25vh;" src="assets/images_icons/logo.png" alt="Next Movie logo">
        </a>
    </div>

    <div class="row justify-content-center text-center movie-font pt-3" *ngIf="idMovie != ''">

    <!-- Page Body -->
        <div class="col-md-4 col-sm-12 m2">

            <img src="http://image.tmdb.org/t/p/w500/{{ getImage() }}" class="poster-img movie-poster movie-cast-radius" alt="">
            <br>
              <i class="fa-solid fa-star fa-2xl star-color star-margin" *ngFor="let rate of starsList"></i>
              <i class="fa-solid fa-star-half-stroke fa-2xl star-color star-margin" *ngFor="let rate of starsHalfList"></i>
              <i class="fa-regular fa-star fa-2xl star-color star-margin" *ngFor="let rate of starsEmptyList"></i>
              <br>
            <p>Duración: {{ runTimeFixed }}</p>

        </div>

        <div class="row col-8 m2">

            <h1>{{ result['title'] }}</h1>
            <br>
            
            <div class="padding">
                <h3>Sinopsis: </h3>
                <p>{{ result['overview'] }}</p>
            </div>
            
            <div class="col-6 padding">
                <h3>Director: </h3>
                <p>{{ returnDirectors() }}</p>
            </div>
            
            <div class="col-6 padding">
                <h3>Géneros: </h3>
                <p>{{ returnGenres() }}</p>
            </div>
            
            <div class="padding">
                <h3>Actores: </h3>
                
                <div class="row scrolling-wrapper flex-row flex-nowrap mt-4 pb-2 pt-2 movie-cast-radius">
                
                    <div class="col-2" *ngFor="let actor of actors">
                        <div class="card card-block">
                            <img src="http://image.tmdb.org/t/p/w200/{{ actor }}" alt="">
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="padding">

                <h3>Plataformas de Streaming: </h3>
                
                <div class="row scrolling-wrapper flex-row flex-nowrap mt-4 pb-5 pt-2 streaming-platforms-radius padding" *ngIf="noStream == false">
                    
                    <div class="col-2" *ngFor="let plattform of plattforms">
                        <div class="card card-block">
                            <img src="http://image.tmdb.org/t/p/w500/{{ plattform }}" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>

            <p *ngIf="noStream == true">No hay plataformas disponibles en tu país</p>

        </div>

   </div>
    
</div>
